.header {
	width: 100%;
	background-color: transparent;
	padding: 30px 40px 0 40px;
	position: fixed;
	z-index: 100;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.headerBlock {
	display: flex;
	width: 100%;
	max-width: 1440px; 
	height: 64px;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #e4e4e7;
	border-radius: 1234px;
	padding: 0 40px;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(7px);
	box-sizing: border-box;
	transition: all 0.3s ease;
}


.leftBlock,
.rightBlock {
	display: flex;
	align-items: center;
	flex: 1;
}

.leftBlock {
	gap: 27px;
	justify-content: flex-start;
}

.rightBlock {
	gap: 5%;
	justify-content: flex-end;
}

.link {
	font-weight: 500;
	font-size: 14px;
	color: #9ea0aa;
	text-decoration: none;
	transition: color 0.2s;
	white-space: nowrap;
}

.link:hover {
	color: #0c122a;
}

.logo {
	width: 108px;
	height: auto;
	flex-shrink: 0; 
	cursor: pointer;
}

.miniLogo {
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: transform 0.2s;
	z-index: 1234567;
}

.miniLogo:hover {
	transform: scale(1.1);
}


.burgerBtn {
	display: none;
	flex-direction: column;
	gap: 4px;
	padding: 10px;
	z-index: 101;
	background-color: transparent;
	border: 0;
}
.burgerLine {
	width: 20px;
	height: 2px;
	background-color: #0c122a;
	transition: 0.3s;
}
.iconBurger {
	cursor: pointer;
}

.blackText{
    color: #0c122a;
}

.greyText{
    color: #9EA0AA;
}

.authAndRegister{
    cursor: pointer;
}

.Form{
    width: 447px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 16px;
    position: relative;
	box-sizing: border-box;
}

.headerModal{
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    padding-left: 24px;
}

.authAndRegister{
    display: flex;
    gap: 5px;
    font-size: 20px;
}

.cross{
    position: absolute;
    right: 22px;
    top: 18px;
    cursor: pointer;
}

.cartBlock{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modalTitle{
	font-family: "walsheimProRegular";
}

.headerModalCart{
	width: 100%;
	height: 60px;
	border-radius: 16px;
	display: flex;
	padding-left: 24px;
	align-items: center;
	box-sizing: border-box;
}

.mainCartModal{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 24px;
	padding-right: 24px;
	overflow: scroll;
	max-height: 372px;
}

.cartNullDiv{
	width: 100%;
	height: 100%;
	min-height: 224px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px 24px 16px 24px;
	border-top: 1px solid #9EA0AA;
	border-bottom: 1px solid #9EA0AA;
	gap: 16px;
}

.cartNullText{
	text-align: center;
	color: #9EA0AA;
	font-size: 20px;
}

.mainCartModal{
	border-bottom: 1px solid #9EA0AA;
}

.buttonDiv{
	width: 100%;
	display: flex;
	padding-bottom: 16px;
	justify-content: end;
	padding-right: 24px;
}

.button{
	border-radius: 1234px;
	padding: 12.5px 16px 12.5px 16px;
	border: 1.5px solid #0C122A;
	color: #0C122A;
	font-size: 14px;
	letter-spacing: 9%;
	background-color: transparent;
}

.trashIcon{
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.productCart{
	display: flex;
	width: 100%;
	gap: 26px;
	padding: 18px 8px 18px 8px;
	border-bottom: 1px solid #9EA0AA;
}


.droneCartImage{
	width: 108px;
}

.otherCartProdcutInfo{
	display: flex;
	gap: 31px;
	align-items: center;
}

.titleAndPrice{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.title{
	font-size: 24px;
	font-family: "walsheimProRegular";
	width: 240px;
}

.price{
	display: flex;
	gap: 16px;
	font-size: 14px;
}

.priceText{
	text-decoration: line-through;
}

.discount{
	color: #B62D11;
}

.changeQuantity{
	display: flex;
	gap: 16px;
	align-items: center;
}

.changeQuantityButton{
	width: 36px;
	height: 36px;
	background-color: transparent;
	border: 1.5px solid #9EA0AA;
	border-radius: 1234px;
	font-size: 20px;
}

.cost{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	font-size: 16px;
}

.saved{
	color: #9EA0AA;
}

.withDiscount{
	color: #B62D11;
	font-size: 20px;
}

.generalCostDiv{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.generalCost{
	text-decoration: line-through;
}

@media (max-width: 1024px) {
	.header {
		padding: 20px 20px 0 20px;
	}
	.headerBlock {
		padding: 0 25px;
	}
	.leftBlock {
		gap: 15px;
	}
}

@media (max-width: 850px) {
	.burgerBtn {
		display: flex;
		flex: 1;
	}

	.leftBlock {
		display: none; 
		position: absolute;
		top: 75px;
		left: 0;
		width: 100%;
		background: white;
		flex-direction: column;
		padding: 20px;
		border-radius: 20px;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
		border: 1px solid #e4e4e7;
	}

	.leftBlock.active {
		display: flex; 
	}

	.rightBlock {
		flex: 1;
	}
}
