.headerBlock {
	display: flex;
	width: 100%;
	height: 64px;
	background-color: rgba(255, 255, 255, 0);
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #e4e4e7;
	border-radius: 1234px;
	padding-left: 40px;
	padding-right: 40px;
	/* position: fixed; */
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.7);
	backdrop-filter: blur(7px);
}

.header {			
	width: 100vw;
	background-color: transparent !important;
	padding: 30px 40px 0 40px;
	position: fixed;
	z-index: 10;
	
	/* background-color: #cdd5dd; */
}

.leftBlock {
	display: flex;
	gap: 27px;
	align-items: center;
	width: 261px;
}

.link {
	font-weight: 500;
	font-size: 14px;
	color: #9ea0aa;
	text-decoration: none;
}

.rightBlock {
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 24px;
	width: 261px;
}

.logo {
	width: 108px;
	height: 21px;
	display: flex;
}

.miniLogo {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
