.footer {
	width: 100%;
	max-width: 100vw;
	

	aspect-ratio: 100 / 63;

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: clamp(20px, 5vw, 80px);
	padding-bottom: 10px;

	position: relative;

	gap: 30vw;
}

.footerBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1; /* Щоб не перекривав посилання */

	/* Ця магія дозволить картинці тримати 100% висоти, 
       навіть якщо екран дуже вузький (до твоїх 75%) */
	object-fit: cover;
	object-position: top center;
}


.oval {
	width: 170vw;
	position: absolute;
	height: 100vh;
	border-radius: 50%;
	/* Овал должен начинаться сверху и уходить вниз */
	top: 0;
	left: 50%;
	transform: translate(-50%, -80%);
	background-color: white;
	z-index: 2; /* Овал выше логотипа */
}

.footerInfo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: clamp(30px, 10vw, 180px);
	z-index: 10; /* Контент всегда сверху */
	position: relative;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

.infoBlock {
	gap: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.infoBlock h1 {
	font-size: clamp(32px, 5vw, 48px);
	margin: 0;
}

.infoBlock p {
	font-size: clamp(14px, 2vw, 16px);
	margin: 0;
	text-align: center;
}

/* Логотип-подложка */
.footerLogo {
	width: 90%;
	max-width: 909px;
	height: auto;
	z-index: 1; /* Самый нижний слой, под овалом */
	position: relative;
	/* Это критический момент: затягиваем лого под овал */
	margin-top: -100px;
	/* Делаем его чуть прозрачным как на втором фото */
	opacity: 0.5;
	pointer-events: none; /* Чтобы не мешал кликать по ссылкам */
}

.footerLinks {
	display: flex;
	justify-content: center;
	gap: clamp(15px, 3vw, 27px);
	margin-top: -20px; /* Приподнимаем к логотипу */
	padding-bottom: 40px;
	z-index: 10;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
}

.footerLinks * {
	color: black;
	font-weight: 500;
	text-decoration: none;
	font-size: clamp(12px, 1.5vw, 14px);
	white-space: nowrap;
}

/* Адаптив для мобилок */
@media (max-width: 768px) {
	.footerInfo {
		flex-direction: column;
		gap: 5px;
		margin-top: -150px;
		overflow-y: visible;
		
	}

	.infoBlock p {
		font-size: clamp(12px, 2vw, 12px);
		margin: 0;
		text-align: center;
	}

	.infoBlock h1 {
		font-size: clamp(25px, 5vw, 40px);
		margin: 0;
	}


	.footerLogo {
		margin-top: -50px; /* На мобилках наезд меньше */
		width: 120%; /* Делаем лого шире экрана для эффекта */
	}

	.footerLinks {
		gap: 15px;
		margin-top: 20px;
	}

	.oval {
		width: 300vw; /* Более плоский овал на мобилках */
	}
}
