.footer {
	width: 100vw;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #cdd5dd;
	padding-top: 87px;
	gap: 58px;
	position: relative;
	overflow: hidden;
}

.footerInfo {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 180px;
}

.infoBlock {
	gap: 35px;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 1;
}

.footerLogo {
	width: 909px;
}

.footerLinks {
	display: flex;
	gap: 27px;
	margin-top: 81px;
}

.footerLinks * {
	color: black;
	font-weight: 500;
	text-decoration: none;
}

.oval {
	width: 170vw;
	position: absolute;
	height: 100vh;
	background-color: #cdd5dd;
	border-radius: 50%;
	transform: translate(0, -80%);
	background-color: white;
	z-index: 0;
}
