.footer {
	width: 100%;
	max-width: 100vw;
	max-height: 95vh;
	

	display: flex;
	flex-direction: column;
	align-items: center;

	padding-top: clamp(40px, 6vw, 100px);
	padding-bottom: 10px;
	box-sizing: border-box;
	background-color: white;

	position: relative;
	gap: 25vw;
}

.footerBg {
	position: absolute;
    left: 0px;
	top: 0px;
    height: 120%;
    width: 100%;
    z-index: 1;
}


.oval {
	width: 170vw;
	position: absolute;
	height: 100vh;
	border-radius: 50%;
	/* Овал должен начинаться сверху и уходить вниз */
	top: 0;
	left: 50%;
	transform: translate(-50%, -80%);
	background-color: white;
	z-index: 2; /* Овал выше логотипа */
}

.footerInfo {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: clamp(30px, 10vw, 180px);
	z-index: 10; /* Контент всегда сверху */
	position: relative;
	width: 100%;
	padding: 20px 20px;	
	margin-top: -50px;
	
	box-sizing: border-box;
}

.infoBlock {
	gap: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.infoBlock h1 {
	font-size: clamp(32px, 5vw, 48px);
	margin: 0;
}

.infoBlock p {
	font-size: clamp(14px, 2vw, 16px);
	margin: 0;
	text-align: center;
}

/* Логотип-подложка */
.footerLogo {
	width: 90%;
	max-width: 909px;
	height: auto;
	z-index: 1; /* Самый нижний слой, под овалом */
	position: relative;
	/* Это критический момент: затягиваем лого под овал */
	margin-top: -100px;
	/* Делаем его чуть прозрачным как на втором фото */
	opacity: 0.5;
	pointer-events: none; /* Чтобы не мешал кликать по ссылкам */
}

.footerLinks {
	display: flex;
	justify-content: center;
	gap: clamp(15px, 3vw, 27px);
	margin-top: -20px; /* Приподнимаем к логотипу */
	padding-bottom: 40px;
	z-index: 10;
	position: relative;
	width: 100%;
	flex-wrap: wrap;
}

.footerLinks * {
	color: black;
	font-weight: 500;
	text-decoration: none;
	font-size: clamp(12px, 1.5vw, 14px);
	white-space: nowrap;
}

.bolder{
	font-family: "walsheimProRegular";
}

/* Адаптив для мобилок */
@media (max-width: 768px) {
	.footerInfo {
		flex-direction: column;
		gap: 5px;
		margin-top: -150px;
		overflow-y: visible;
		
	}

	.infoBlock p {
		font-size: clamp(12px, 2vw, 12px);
		margin: 0;
		text-align: center;
	}

	.infoBlock h1 {
		font-size: clamp(25px, 5vw, 40px);
		margin: 0;
	}


	.footerLogo {
		margin-top: -50px; /* На мобилках наезд меньше */
		width: 120%; /* Делаем лого шире экрана для эффекта */
	}

	.footerLinks {
		gap: 15px;
		margin-top: 20px;
	}

	.oval {
		width: 300vw; /* Более плоский овал на мобилках */
	}
}
