.footer{
    width: 1440px;
    height: 851px;
    display: flex;
    justify-content: center;
    background-color: #CDD5DD;
    margin-top: 2325px;
}

.footerInfo{
    width: 799px;
    height: 116px;
    gap: 180px;
    margin-top: 87px;
    display: flex;
}

.infoBlockFirst{
    width: 144px;
    height: 116px;
    gap: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoBlockFirst h1{
    font-weight: 700;
    font-size: 44px;
    color: #0C122A;
}

.infoBlockFist p{
    font-weight: 400;
    font-size: 16px;
    color: #0C122A;
}

.infoBlockSecond{
    width: 157px;
    height: 116px;
    gap: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoBlockSecond h1{
    font-weight: 700;
    font-size: 44px;
    color: #0C122A;
}

.infoBlockSecond p{
    font-weight: 400;
    font-size: 16px;
    color: #0C122A;
}

.infoBlockThird{
    width: 138px;
    height: 116px;
    gap: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infoBlockThird h1{
    font-weight: 700;
    font-size: 44px;
    color: #0C122A;
}

.infoBlockThird p{
    font-weight: 400;
    font-size: 16px;
    color: #0C122A;
}

.footerLinks{
    width: 483px;
    height: 18px;
    margin-top: 592.42px;
    gap: 27px;
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #0C122A;
}
