.main {
	display: flex;
	justify-content: start;
	width: 100%;
	padding: 81px 80px 0 80px;
	gap: 200px;
	
}

.profileLinks {
	display: flex;
	flex-direction: column;
	gap: 44px;
}

.linksTitle{
	font-size: 30px;
}

.link{
	font-size: 14px;
	color: #9EA0AA;
	cursor: pointer;
}

.hr{
	color: #9EA0AA;
}
.choosedOption{
	color: black;
	font-size: 14px;
}

.hidden{
	display: none;
}


.field{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.fieldInput{
	height: 40px;
	width: 100%;
	border: 1px solid #CED0D4;
	border-radius: 4px;
	padding-left: 16px;
}

.userDataTitle{
	font-size: 24px;
}

.userData{
	min-width: 668px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.fieldsContactData{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.button{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 158px;
	height: 41px;
	border: 1px solid #9EA0AA;
	color: #9EA0AA;
	background-color: transparent;
	border-radius: 1234px;
	letter-spacing: 9%;
	cursor: pointer;
}