.form {
	display: flex;
	flex-direction: column;
	gap: 2.29vw;
	width: 100%;
	align-items: center;
	padding: 0.83vw 1.25vw 0.83vw 1.25vw;
	box-sizing: border-box;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 0.83vw;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.42vw;
}

.fieldInput {
	height: 2.08vh;
	width: 100%;
	border: 0.05vw solid #ced0d4;
	border-radius: 0.21vw;
	padding-left: 0.83vw;
}

.inputError {
	height: 2.08vh;
	width: 100%;
	border: 0.05vw solid #b62d11;
	border-radius: 0.21vw;
	padding-left: 0.83vw;
}

.isAlreadyReg {
	width: 100%;
	color: #ced0d4;
	text-decoration: underline;
	cursor: pointer;
}

.buttons {
	display: flex;
	gap: 0.52vw;
	width: 100%;
}

.buttonsAndWarning {
	display: flex;
	flex-direction: column;
	gap: 0.83vw;
}

.warning {
	color: #9ea0aa;
}

.redText {
	color: #b62d11;
}

.cancel {
	height: 2.14vh;
	border: 0.05vw solid #0c122a;
	border-radius: 64.27vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0c122a;
}

.cancel {
	height: 2.14vh;
	border: 0.05vw solid #0c122a;
	border-radius: 64.27vw;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0c122a;
	font-size: 0.83vw;
	padding: 0.65vw 0.83vw 0.65vw 0.83vw;
	cursor: pointer;
}

.submit {
	height: 2.14vh;
	border: 0.05vw solid #0c122a;
	border-radius: 64.27vw;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0c122a;
	font-size: 0.83vw;
	padding: 0.65vw 0.83vw 0.65vw 0.83vw;
	cursor: pointer;
}

.iconInvisible {
	cursor: pointer;
	position: absolute;
	right: 0.78vw;
	top: 0.52vh;
}

.input {
	position: relative;
	width: 100%;
}

.error {
	font-size: 13px;
	color: #b62d11;
}

.buttonsAndWarning {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.resetPassword {
	font-size: 14px;
	color: #9ea0aa;
	text-decoration: underline;
	width: 100%;
	cursor: pointer;
}
