.form {
	display: flex;
	flex-direction: column;
	gap: 44px;
	width: 100%;
	align-items: center;
	padding: 16px 24px 16px 24px;
	box-sizing: border-box;
}

.fields {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
	align-items: center;
	box-sizing: border-box;
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.fieldInput {
	height: 40px;
	width: 100%;
	border: 1px solid #ced0d4;
	border-radius: 4px;
	padding-left: 16px;
}

.inputError {
	height: 40px;
	width: 100%;
	border: 1px solid #b62d11;
	border-radius: 4px;
	padding-left: 16px;
}

.isAlreadyReg {
	width: 100%;
	color: #ced0d4;
	text-decoration: underline;
	cursor: pointer;
}

.buttons {
	display: flex;
	gap: 10px;
	width: 100%;
}

.buttonsAndWarning {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.warning {
	color: #9ea0aa;
}

.redText {
	color: #b62d11;
}

.cancel {
	height: 41px;
	border: 1px solid #0c122a;
	border-radius: 1234px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0c122a;
}

.cancel {
	height: 41px;
	border: 1px solid #0c122a;
	border-radius: 1234px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #0c122a;
	font-size: 16px;
	padding: 12.5px 16px 12.5px 16px;
	cursor: pointer;
}

.submit {
	height: 41px;
	border: 1px solid #0c122a;
	border-radius: 1234px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0c122a;
	font-size: 16px;
	padding: 12.5px 16px 12.5px 16px;
	cursor: pointer;
}

.iconInvisible {
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 10px;
}

.input {
	position: relative;
	width: 100%;
}

.error {
	font-size: 13px;
	color: #b62d11;
}

.buttonsAndWarning {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.resetPassword {
	font-size: 14px;
	color: #9ea0aa;
	text-decoration: underline;
	width: 100%;
	cursor: pointer;
}
