.main {
	width: 100%;
	padding-top: 1.67vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 3.96vw;
}

.title {
	color: #cdd5dd;
	font-size: 3.05vw;
	letter-spacing: 0.03em;
	font-family: "walsheimProBold";
}

.data {
	display: flex;
	gap: 1.74vw;
}

.ourContacts {
	display: flex;
	flex-direction: column;
	gap: 3.05vw;
	width: 46.4vw;
}

.titleOurContacts {
	font-size: 1.67vw;
}

.contactInfo {
	display: flex;
	flex-direction: column;
	gap: 1.67vw;
	color: #6d717f;
}

.icon {
	width: 1.67vw;
	height: 1.67vw;
}

.contactField {
	font-size: 1.39vw;
	display: flex;
	align-items: center;
	gap: 0.69vw;
	color: #6d717f;
}

.weInSocNets {
	font-size: 1.39vw;
	color: #0c122a;
	display: flex;
	flex-direction: column;
	gap: 1.67vw;
	width: 11.67vw;
	align-items: center;
}

.socIcons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.contactsWithUs {
	display: flex;
	flex-direction: column;
	gap: 3.05vw;
	width: 46.4vw;
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.55vw;
}

.fieldInput {
	height: 2.78vw;
	width: 100%;
	border: 1px solid #ced0d4;
	border-radius: 0.28vw;
	padding-left: 1.1vw;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 1.1vw;
}

.send {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0c122a;
	border-radius: 1234px;
	border: 0;
	width: 11.8vw;
	height: 3.61vw;
	color: white;
	font-size: 0.97vw;
	font-family: "walsheimPro";
}

.textArea {
	padding-top: 0.69vw;
	transition: all 0s;
}
