.home {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

header{
	background-color: #cdd5dd;
}
.pageTitle {
	font-size: 61px;
	color: white;
	font-family: "walsheimPro";
}

.topBlock {
	display: flex;
	align-items: center;
	width: 100%;
	height: 851px;
	padding-top: 121px;
	background-color: #cdd5dd;
	flex-direction: column;
	overflow-y: hidden;
	/* background-color: darkblue; */
}

.oval {
	width: 170vw;
	position: absolute;
	height: 100vh;
	background-color: #cdd5dd;
	border-radius: 50%;
	transform: translate(0, 30%);
	background-color: white;
	z-index: 0;
}

.drone {
	width: 811px;
	position: absolute;
	z-index: 1;
	transform: translateY(-10%);
}

.footer {
	display: flex;
	align-items: end;
	flex-direction: column;
	width: 95%;
	padding-top: 28%;

	z-index: 1;
}

.footerBlock {
	display: flex;
	flex-direction: column;
	gap: 31px;
}

.otherBlock {
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 180px;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 532px;
	gap: 24px;
}

.topText {
	color: #cdd5dd;
	font-size: 44px;
	font-family: "walsheimProBold";
	letter-spacing: -1%;
}

.middleText {
	text-align: center;
}
.readMoreText {
	color: black;
}
.readMore {
	background-color: white;
	border-radius: 1234px;
	border: 1.5px solid black;
	color: black;
	display: flex;
	gap: 16px;
	width: 243px;
	height: 60px;
	align-items: center;
	justify-content: center;
}

.buttonText {
	color: white;
}

.new {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}

.drones {
	display: flex;
	justify-content: center;
	gap: 24px;
	row-gap: 100px;
	flex-wrap: wrap;
	padding-top: 135px;
}
.droneCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 437px;
    height: 437px;
    border-radius: 10px;
    position: relative;
}

.droneImage {
    width: 265px;
    height: auto; 
    position: absolute;
    top: 0; 
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease; 
    z-index: 2;
    border-radius: 10px;
}
.droneCard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/droneImage1.png");
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease; 
    z-index: 0;
    border-radius: 10px;
}


.droneCard:hover::after {
    opacity: 1;
}

.droneCard:hover .droneImage {
    transform: translate(-50%, -60%); 
    border-radius: 10px;
}

.bottomDiv {
	display: flex;
	width: 100%;
	height: 233px;
	flex-direction: column;
	align-items: center;
	padding: 34px 24px 0 24px;
	border-radius: 10px;
	gap: 69px;
    z-index: 2;
}

.blue {
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(79, 148, 164));
}

.black {
	background-image: linear-gradient(rgba(255, 255, 255, 0), black);
}

.yellow {
	background-image: linear-gradient(rgba(255, 255, 255, 0), #f5be4f);
}

.text {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 188px;
	height: 52px;
	background-color: #0c122a;
	color: white;
	border-radius: 1234px;
	cursor: pointer;
}

.text {
	font-size: 14px;
	color: white;
}

.mainTitle {
	font-size: 44px;
	color: white;
}

.subTitle {
	color: white;
	font-size: 16px;
}

.bottomBlock {
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fromText {
	color: white;
}

.readMoreWhite {
	background-color: transparent;
	border-radius: 1234px;
	border: 1.5px solid white;
	display: flex;
	gap: 14px;
	width: 122px;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.whiteArrow {
	width: 16px;
	height: 16px;
	color: wheat;
}

.readMoreTextWhite {
	color: white;
}

.catalog {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 44px;
	padding-left: 40px;
	padding-right: 40px;
}

.droneCardCatalog {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 14px 14px 14px 14px;
	box-sizing: border-box;
	width: 322px;
	gap: 26px;
}

.catalogImage {
	width: 100%;
}

.textBlock {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 86px;
}

.droneTitle {
	font-size: 24px;
}

.price {
	display: flex;
	gap: 16px;
}

.discount {
	color: #b62d11;
}

.priceText {
	text-decoration: line-through;
}

.droneCardsBlock {
	display: flex;
	gap: auto;
	flex-wrap: wrap;
	justify-content: center;
}
