*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.parentElement{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 0 40px;
    overflow: scroll;
}