.notFound {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh; 
	position: relative;
	overflow: hidden;
	background-color: white;
	padding-top: 80px; 
}

.centerElement {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 5;
	text-align: center;
	overflow: hidden;
	flex-grow: 1; 
}

.notFoundText {
	font-size: clamp(28px, 4vw, 40px);
	color: #676974;
	margin: 0;
	font-family: "walsheimProBold";
}

.notFoundTextSmall {
	font-size: clamp(18px, 2vw, 24px);
	color: #676974;
	margin: 10px 0 30px 0;
}

.droneImage {
	width: 750px;
	max-width: 85%; 
	height: auto;
	object-fit: contain;
	
	animation: float 4s ease-in-out infinite;
}

.oval {
	position: absolute;
	width: 4000px;
	height: 4000px;
	background-color: #cdd5dd;
	border-radius: 50%;
	
	bottom: -3650px;
	left: 50%;
	transform: translate(-50%);
	z-index: 1;
}


@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
}


@media (max-width: 768px) {
	.oval {
		width: 550vw;
		bottom: -30%;
		transform: translate(-50%, 87%);
	}
	.droneImage {
		width: 90%;
	}
}
